@import "./base.css";
/* @font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-Bold.ttf);
} */
.main {
  padding: 150px;
}
.main__heading {
  font-size: 128px;
  font-weight: bold;
}
.main__sub-heading {
  font-size: 40px;
}

.button__icon {
  vertical-align: middle;
}
.button__icon {
  vertical-align: middle;
}
